{% extends "master.html" %}

{% block title %}
  Portfolio - Projects
{% endblock %}

{% block content %}
    <h2>Our Projects</h2>

    {% for proj in projects %} 
    {% for img in project_Images %}
    <a href="/details/{{proj.id}}">
      {% if img.id == proj.id %}
      <img
        src="{% url 'Home' %}{{img.image}}"
        alt="{{img}}"
        height="100"
        width="auto"
      />
      <h4>{{ proj.title }}</h4>
      {% endif %} 
    </a>
    {% endfor %} 
    {% endfor %}

{% endblock %}
